@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-cell-phone:before { content: "\f100"; }
.flaticon-play-button:before { content: "\f101"; }
.flaticon-straight-quotes:before { content: "\f102"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f103"; }
.flaticon-question-mark:before { content: "\f104"; }
.flaticon-business:before { content: "\f105"; }
.flaticon-technology:before { content: "\f106"; }
.flaticon-arrows:before { content: "\f107"; }
.flaticon-interface:before { content: "\f108"; }
.flaticon-standing-up-man:before { content: "\f109"; }
.flaticon-graph-line-screen:before { content: "\f10a"; }
.flaticon-smartphone-call:before { content: "\f10b"; }
.flaticon-electric-light-bulb:before { content: "\f10c"; }
.flaticon-e-mail-envelope:before { content: "\f10d"; }
.flaticon-tool:before { content: "\f10e"; }
.flaticon-computer:before { content: "\f10f"; }
.flaticon-paper-bag:before { content: "\f110"; }
.flaticon-dollar-symbol:before { content: "\f111"; }
.flaticon-chart-of-columns:before { content: "\f112"; }
.flaticon-quotation-mark:before { content: "\f113"; }
.flaticon-speech-bubble-outline-of-rectangular-shape:before { content: "\f114"; }
.flaticon-circle:before { content: "\f115"; }
.flaticon-telephone:before { content: "\f116"; }
.flaticon-three:before { content: "\f117"; }
.flaticon-symbol:before { content: "\f118"; }
.flaticon-left-quote:before { content: "\f119"; }
.flaticon-line:before { content: "\f11a"; }
.flaticon-sign:before { content: "\f11b"; }
.flaticon-delete:before { content: "\f11c"; }
.flaticon-new-email-outline:before { content: "\f11d"; }
.flaticon-menu-button:before { content: "\f11e"; }
.flaticon-check-symbol:before { content: "\f11f"; }
.flaticon-round:before { content: "\f120"; }
.flaticon-arrows-1:before { content: "\f121"; }
.flaticon-home-location-marker:before { content: "\f122"; }
.flaticon-house-outline:before { content: "\f123"; }
.flaticon-security-badge:before { content: "\f124"; }
.flaticon-boat-anchor:before { content: "\f125"; }
.flaticon-computer-screen:before { content: "\f126"; }
.flaticon-clock:before { content: "\f127"; }
.flaticon-woman-and-child-holding-hands:before { content: "\f128"; }
.flaticon-lightbulb-idea:before { content: "\f129"; }
.flaticon-home:before { content: "\f12a"; }
.flaticon-arrows-2:before { content: "\f12b"; }
.flaticon-delete-cross:before { content: "\f12c"; }
.flaticon-location:before { content: "\f12d"; }
.flaticon-cross:before { content: "\f12e"; }
.flaticon-arrows-3:before { content: "\f12f"; }
.flaticon-technology-1:before { content: "\f130"; }
.flaticon-fax-with-phone:before { content: "\f131"; }
.flaticon-boat-anchor-1:before { content: "\f132"; }
.flaticon-24-hours-support:before { content: "\f133"; }
.flaticon-interface-1:before { content: "\f134"; }
.flaticon-interface-2:before { content: "\f135"; }
.flaticon-three-stacks-of-coins:before { content: "\f136"; }
.flaticon-photo:before { content: "\f137"; }
.flaticon-phone-book:before { content: "\f138"; }
.flaticon-social-media:before { content: "\f139"; }
.flaticon-layers:before { content: "\f13a"; }
.flaticon-pin:before { content: "\f13b"; }
.flaticon-edit-document:before { content: "\f13c"; }
.flaticon-people:before { content: "\f13d"; }
.flaticon-quote:before { content: "\f13e"; }
.flaticon-volunteer:before { content: "\f13f"; }
.flaticon-support:before { content: "\f140"; }
.flaticon-fax:before { content: "\f141"; }
.flaticon-music:before { content: "\f142"; }
.flaticon-music-1:before { content: "\f143"; }
.flaticon-shape:before { content: "\f144"; }
.flaticon-cogwheel:before { content: "\f145"; }
.flaticon-heart:before { content: "\f146"; }
.flaticon-arrows-4:before { content: "\f147"; }
.flaticon-shapes:before { content: "\f148"; }
.flaticon-home-1:before { content: "\f149"; }
.flaticon-cross-1:before { content: "\f14a"; }
.flaticon-line-1:before { content: "\f14b"; }
.flaticon-right-arrow:before { content: "\f14c"; }
.flaticon-arrows-5:before { content: "\f14d"; }
.flaticon-play-button-1:before { content: "\f14e"; }
.flaticon-home-2:before { content: "\f14f"; }
.flaticon-time:before { content: "\f150"; }
.flaticon-bullhorn:before { content: "\f151"; }
.flaticon-technology-2:before { content: "\f152"; }
.flaticon-food:before { content: "\f153"; }
.flaticon-coin:before { content: "\f154"; }
.flaticon-smartphone:before { content: "\f155"; }
.flaticon-nature:before { content: "\f156"; }
.flaticon-email:before { content: "\f157"; }
.flaticon-light-bulb:before { content: "\f158"; }
.flaticon-letter:before { content: "\f159"; }
.flaticon-magnifying-glass:before { content: "\f15a"; }
.flaticon-technology-3:before { content: "\f15b"; }
.flaticon-search:before { content: "\f15c"; }
.flaticon-rocket-launch:before { content: "\f15d"; }
.flaticon-multimedia:before { content: "\f15e"; }
.flaticon-support-1:before { content: "\f15f"; }
.flaticon-search-1:before { content: "\f160"; }
.flaticon-bag:before { content: "\f161"; }
.flaticon-correct:before { content: "\f162"; }
.flaticon-video-camera:before { content: "\f163"; }
.flaticon-stats:before { content: "\f164"; }
.flaticon-arrows-6:before { content: "\f165"; }
.flaticon-arrows-7:before { content: "\f166"; }
.flaticon-arrows-8:before { content: "\f167"; }
.flaticon-arrows-9:before { content: "\f168"; }
.flaticon-arrows-10:before { content: "\f169"; }
.flaticon-menu:before { content: "\f16a"; }
.flaticon-checked:before { content: "\f16b"; }
.flaticon-line-2:before { content: "\f16c"; }
.flaticon-truck:before { content: "\f16d"; }
.flaticon-coin-1:before { content: "\f16e"; }
.flaticon-headphones:before { content: "\f16f"; }
.flaticon-shopping-bag:before { content: "\f170"; }
.flaticon-money:before { content: "\f171"; }
.flaticon-money-1:before { content: "\f172"; }
.flaticon-garbage:before { content: "\f173"; }
.flaticon-placeholder:before { content: "\f174"; }
.flaticon-heart-1:before { content: "\f175"; }
.flaticon-settings:before { content: "\f176"; }
.flaticon-magnifying-glass-1:before { content: "\f177"; }
.flaticon-link:before { content: "\f178"; }
.flaticon-star:before { content: "\f179"; }
.flaticon-tag:before { content: "\f17a"; }
.flaticon-printer:before { content: "\f17b"; }
.flaticon-share:before { content: "\f17c"; }
.flaticon-house:before { content: "\f17d"; }
.flaticon-phone-call:before { content: "\f17e"; }
.flaticon-shopping-bag-1:before { content: "\f17f"; }
.flaticon-envelope:before { content: "\f180"; }
.flaticon-bars:before { content: "\f181"; }
.flaticon-remove:before { content: "\f182"; }
.flaticon-time-1:before { content: "\f183"; }
.flaticon-check:before { content: "\f184"; }
.flaticon-link-1:before { content: "\f185"; }
.flaticon-check-1:before { content: "\f186"; }
.flaticon-add:before { content: "\f187"; }
.flaticon-wallet:before { content: "\f188"; }
.flaticon-menu-1:before { content: "\f189"; }
.flaticon-placeholder-1:before { content: "\f18a"; }
.flaticon-home-3:before { content: "\f18b"; }
.flaticon-phone-call-1:before { content: "\f18c"; }
.flaticon-play-button-2:before { content: "\f18d"; }
.flaticon-anchor:before { content: "\f18e"; }
.flaticon-arrows-11:before { content: "\f18f"; }
.flaticon-signs:before { content: "\f190"; }
.flaticon-menu-2:before { content: "\f191"; }
.flaticon-contact:before { content: "\f192"; }
.flaticon-wallet-1:before { content: "\f193"; }
.flaticon-arrows-12:before { content: "\f194"; }
.flaticon-calendar:before { content: "\f195"; }
.flaticon-picture:before { content: "\f196"; }
.flaticon-picture-1:before { content: "\f197"; }
.flaticon-play-button-3:before { content: "\f198"; }
.flaticon-play-button-4:before { content: "\f199"; }
.flaticon-success:before { content: "\f19a"; }
.flaticon-add-1:before { content: "\f19b"; }
.flaticon-clock-1:before { content: "\f19c"; }
.flaticon-home-4:before { content: "\f19d"; }
.flaticon-placeholder-2:before { content: "\f19e"; }
.flaticon-users:before { content: "\f19f"; }
.flaticon-users-1:before { content: "\f1a0"; }
.flaticon-unlink:before { content: "\f1a1"; }
.flaticon-layers-1:before { content: "\f1a2"; }
.flaticon-idea:before { content: "\f1a3"; }
.flaticon-interface-3:before { content: "\f1a4"; }
.flaticon-up-arrow:before { content: "\f1a5"; }
.flaticon-arrows-13:before { content: "\f1a6"; }
.flaticon-arrows-14:before { content: "\f1a7"; }
.flaticon-arrows-15:before { content: "\f1a8"; }
.flaticon-close:before { content: "\f1a9"; }
.flaticon-user:before { content: "\f1aa"; }
.flaticon-bar-chart:before { content: "\f1ab"; }
.flaticon-speech-bubble:before { content: "\f1ac"; }
.flaticon-placeholder-3:before { content: "\f1ad"; }
.flaticon-technology-4:before { content: "\f1ae"; }
.flaticon-stick-man:before { content: "\f1af"; }
.flaticon-technology-5:before { content: "\f1b0"; }
.flaticon-link-2:before { content: "\f1b1"; }
.flaticon-trophy:before { content: "\f1b2"; }
.flaticon-open-book:before { content: "\f1b3"; }
.flaticon-donation:before { content: "\f1b4"; }
.flaticon-money-2:before { content: "\f1b5"; }
.flaticon-drawing:before { content: "\f1b6"; }
.flaticon-trophy-1:before { content: "\f1b7"; }
.flaticon-layers-2:before { content: "\f1b8"; }
.flaticon-envelope-1:before { content: "\f1b9"; }
.flaticon-line-chart:before { content: "\f1ba"; }
.flaticon-home-5:before { content: "\f1bb"; }
.flaticon-play-button-5:before { content: "\f1bc"; }
.flaticon-interface-4:before { content: "\f1bd"; }
.flaticon-bar-chart-1:before { content: "\f1be"; }
.flaticon-message:before { content: "\f1bf"; }
.flaticon-care:before { content: "\f1c0"; }
.flaticon-quality:before { content: "\f1c1"; }
.flaticon-agenda:before { content: "\f1c2"; }
.flaticon-shirt:before { content: "\f1c3"; }
.flaticon-team:before { content: "\f1c4"; }
.flaticon-maps-and-flags:before { content: "\f1c5"; }
.flaticon-delete-1:before { content: "\f1c6"; }
.flaticon-cancel:before { content: "\f1c7"; }
.flaticon-logout:before { content: "\f1c8"; }
.flaticon-line-chart-1:before { content: "\f1c9"; }
.flaticon-menu-3:before { content: "\f1ca"; }
.flaticon-like:before { content: "\f1cb"; }
.flaticon-bar-chart-2:before { content: "\f1cc"; }
.flaticon-money-3:before { content: "\f1cd"; }
.flaticon-briefcase:before { content: "\f1ce"; }
.flaticon-agenda-1:before { content: "\f1cf"; }
.flaticon-technology-6:before { content: "\f1d0"; }
.flaticon-arrows-16:before { content: "\f1d1"; }
.flaticon-menu-4:before { content: "\f1d2"; }
.flaticon-coins:before { content: "\f1d3"; }
.flaticon-photo-1:before { content: "\f1d4"; }
.flaticon-shield:before { content: "\f1d5"; }
.flaticon-mail:before { content: "\f1d6"; }
.flaticon-group:before { content: "\f1d7"; }
.flaticon-collaboration:before { content: "\f1d8"; }
.flaticon-fruit:before { content: "\f1d9"; }
.flaticon-water:before { content: "\f1da"; }
.flaticon-heart-2:before { content: "\f1db"; }
.flaticon-first-aid-kit:before { content: "\f1dc"; }
.flaticon-tshirt:before { content: "\f1dd"; }
.flaticon-book:before { content: "\f1de"; }
.flaticon-water-bottle:before { content: "\f1df"; }
.flaticon-medicine:before { content: "\f1e0"; }
.flaticon-hamburger:before { content: "\f1e1"; }
.flaticon-donation-1:before { content: "\f1e2"; }
.flaticon-adoption:before { content: "\f1e3"; }
.flaticon-donation-2:before { content: "\f1e4"; }
.flaticon-heart-3:before { content: "\f1e5"; }
.flaticon-reading:before { content: "\f1e6"; }
.flaticon-coin-2:before { content: "\f1e7"; }
.flaticon-call:before { content: "\f1e8"; }
.flaticon-email-1:before { content: "\f1e9"; }
.flaticon-email-2:before { content: "\f1ea"; }
.flaticon-instagram:before { content: "\f1eb"; }
.flaticon-hand:before { content: "\f1ec"; }
.flaticon-placeholder-4:before { content: "\f1ed"; }
.flaticon-volunteer-1:before { content: "\f1ee"; }
.flaticon-volunteer-2:before { content: "\f1ef"; }
.flaticon-donation-3:before { content: "\f1f0"; }
.flaticon-harvest:before { content: "\f1f1"; }
.flaticon-marker:before { content: "\f1f2"; }
.flaticon-medication:before { content: "\f1f3"; }
.flaticon-heart-4:before { content: "\f1f4"; }
.flaticon-charity:before { content: "\f1f5"; }
.flaticon-tree:before { content: "\f1f6"; }
.flaticon-architecture-and-city:before { content: "\f1f7"; }
.flaticon-tree-1:before { content: "\f1f8"; }
.flaticon-location-pin:before { content: "\f1f9"; }